<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Patient Profile</title>
</head>
<body>
	<h1>Patient Profile</h1>
	
	<table border="1">
		<tr>
			<th>Patient ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Height</th>
			<th>Weight</th>
			<th>Location</th>
		</tr>
		<tr>
			<td>{{result.profile.patient_id}}</td>
			<td>{{result.profile.name}}</td>
			<td>{{result.profile.age}}</td>
			<td>{{result.profile.gender}}</td>
			<td>{{result.profile.height}}</td>
			<td>{{result.profile.weight}}</td>
			<td>{{result.profile.location}}</td>
		</tr>
		</table>
</body>
</html>